legend{
  color: red;
}
body{
  background-color :grey;
}
fieldset{
  background-color: white;
}
div{
  background-color: white;
  margin: auto;
  padding: 10px;
  width: 50%;
}
label{
  margin: auto;
    text-align: left;

}
